@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 23px;
  right: 20px;
  top: 45px;

}

.bm-burger-bars {
  background: rgb(0, 0, 0);
}

.bm-menu {
  background: black;
  padding: 2.5rem;
  font-size: 1rem;
}

.bm-item-list {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin-right: 0;
}

.bm-item {
  display: inline-block;
  margin: 1rem 0;
  color: white;
  transition: color 0.2s;
}

/* .bm-item:hover, .bm-item:focus {
  color: ;
}
 */
/* .bm-overlay {
  background: rgba(0, 0, 0, 0.3);
} */

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  
}
 
/* Color/shape of close button cross */
.bm-cross {
  background: white;
  
}

.bm-menu-wrap{
  width: 100%!important;
}

@-webkit-keyframes scroll {
  0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  100% {
  -webkit-transform: translateX(calc(-250px * 7));
  transform: translateX(calc(-250px * 7));
  }
  }
  @keyframes scroll {
  0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  100% {
  -webkit-transform: translateX(calc(-250px * 7));
  transform: translateX(calc(-250px * 7));
  }
  }
  .slider {

  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
    width: 80%;
  }
  .slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
  }
  .slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  }
  .slider::before {
  left: 0;
  top: 0;
  }
  .slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
  }
  .slider .slide {
    height: 70px;
  object-fit: cover;
  }